[user]
	name = Nick Schmeller
	email = 26189705+nschmeller@users.noreply.github.com
[pull]
	rebase = true
[credential "https://github.com"]
        helper =
        helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
        helper =
        helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[gpg]
        format = ssh
